body {
    font-family: iransans;
    font-weight: bold;
    background-color: rgb(17, 17, 82);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.Menu {
    width: 100%;
    height: 75px;
}

.Site-Logo {
    float: right;
    margin-top: 52px;
    margin-right: 50px;
}

.Menu-asli {
    margin-top: 52px;
    width: 22%;
    float: left;
}

.main-page-mtn {
    color: #fff;
}

.main-page-mtn:hover {
    color: orange;
    transition: 500ms;
    text-shadow: 0px 0px 20px white;
}

.select1 {
    background-color: rgb(17, 17, 82);
    color: #fff;
    font-family: iransans;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: -2px;
    text-align: center;
    width: 150px;
    height: 25px;
}

.select1:hover {
    background-color: orange;
    color: black;
    transition: 500ms;
    box-shadow: 0px 0px 20px white;
}

.op {
    background-color: orange;
    font-family: iransans;
    font-weight: bold;
}

.d5 {
    width: 100%;
    height: 50px;
}

.p1 {
    text-align: center;
    font-family: iransans;
    font-size: 45px;
    color: GRAY;
    margin-top: 100px;
    height: 0px;
    transition: font-size 2s, background-color 5s, color 2s, border-radius 7s;
}

.p1:hover {
    text-shadow: 15px 10px 15px rgb(71, 71, 70);
    color: rgb(255, 250, 250);
    font-size: 50px;
    height: 70px;
    width: 90%;
    margin-right: 5%;
    border-radius: 20px;
    background-color: rgb(6, 80, 12);
}

.Logo-Img {
    opacity: 85%;
    width: 80%;
    margin-top: -26px;
}

.Logo-Img:hover {
    opacity: 100%;
    transition: 200ms;
}